<div class="row" style="margin-bottom: 20px;">
  <div class="col-sm-10">
    <app-danh-sach-san-pham [sanPhams] = "showedSanPhams"></app-danh-sach-san-pham>
  </div>
  <div class="col-sm-2">
    <ul class="navbar-nav">
      <li *ngFor="let category of categories" class="nav-item">       
        <a routerLink="/hinh-anh" class="nav-link" (click) = "selectCategory(category)" [ngClass]="{'active': category.id == activeCategory}" >
          <img src="../assets/images/fragrance-25-343x343.jpg" alt="NguaVanPhoto icon" style="width:40px; border: solid 0.1em #D8D9DB; margin-right: 5px;"/>
          {{category.name}}
        </a>
      </li>
    </ul>
  </div>
</div>


