<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <tbody>
        <tr>
          <td>Một sản phẩm</td>
          <td ><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block"> một hình</p></td>
        </tr>
        <tr>
          <td>(2-4) sản phẩm (-10%)</td>
          <td><p class="blue-text-color d-inline-block">369<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
        </tr>
        <tr>
            <td>(5-9) sản phẩm (-20%)</td>
            <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
          </tr>
          <tr>
            <td>(10-19) sản phẩm</td>
            <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
          </tr>
          <tr>
            <td>(20-49) sản phẩm</td>
            <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
          </tr>
          <tr>
            <td>(50-59) sản phẩm</td>
            <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
          </tr>
          <tr>
              <td>100+ sản phẩm</td>
              <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
            </tr>
            <tr>
              <td>Xoay 360<sup>o</sup></td>
              <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
            </tr>
            <tr>
              <td>Hoàn thành trong 3 ngày<sup>(1)</sup></td>
              <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một lần</p></td>
            </tr>
            <tr>
              <td>Nền trong suốt hoặc Clipping paths<sup>(2)</sup></td>
              <td><p class="blue-text-color d-inline-block">410<sup class="smallSup">000</sup></p><p class="d-inline-block">một hình</p></td>
            </tr>
            <tr>
              <td>Chụp có người mẫu<sup>(3)</sup></td>
              <td><p class="blue-text-color d-inline-block">1.100<sup class="smallSup">000</sup></p><p class="d-inline-block">một lần</p></td>
            </tr>
            <tr>
                 
      </tbody>
    </table>
  </div>
  <div class="col-sm-6">
  <p class="blue-text-color" style="padding-left: 30px;">Bao gồm</p>
  <br/>
  <ul>
    <li>Chỉnh sửa hình ảnh chuyên nghiệp, hoàn thiện sẵn sàng sử dụng</li>
    <li>Dung lượng hình ảnh cao dùng để in ấn hay website</li>
    <li>Nhận hàng dễ dàng bằng trực tuyến</li>
    <li>Bản quyền miễn phí, không giới hạn giấy phép sử dụng</li>
  </ul>
  <br/>
  <ul>
    <li><sup>(1)</sup> Nếu dưới 50 sản phẩm, hình ảnh hoàn thiện sau 3 ngày hoặc sớm hơn</li>
    <li><sup>(2)</sup> Dễ dàng đặt sản phẩm lên hình nền mong muốn</li>
    <li><sup>(3)</sup> Toàn thân hoặc một phần cơ thể như: tay, chân,...</li>
  </ul>
  <br/>
  <a href="/lien-he" class="blue-text-color" style="padding-left: 30px;">Liên hệ đặt hàng</a>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-sm-6">
    <img src="../../assets/images/cost icons/ClippingPaths-basket.jpg" style="width: 100%;">
  </div>
  <div class="col-sm-6">
      <p class="blue-text-color" style="padding-left: 30px;">Nền trong suốt hoặc Clipping paths</p>
      <br/>
      <ul>
        <li>Tạo viền tách giữa sản phẩm và nền</li>
        <li>Dễ dàng đặt sản phẩm lên hình nền mong muốn</li>
        <li>Sử dụng tiện lợi, nhanh chóng</li>
      </ul>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-sm-6">
    <img src="../../assets/images/cost icons/hands-1.jpg" style="width: 80%;">
  </div>
  <div class="col-sm-6">
    <br/><br/>
    <p class="blue-text-color" style="padding-left: 30px;">Chụp có người mẫu</p>
    <br/>
    <ul>
      <li>Minh họa cùng sản phẩm</li>
      <li>Toàn thân hoặc một phần cơ thể như: tay, chân,...</li>
      <li>Sinh động, dễ hình dung</li>
    </ul>
  </div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-sm-6">
    <img src="../../assets/images/cost icons/product_photography_about_banner1.jpg" style="width: 100%;">
  </div>
  <div class="col-sm-6">
      <p class="blue-text-color" style="padding-left: 30px;">Xoay 360<sup>o</sup></p>
      <br/>
      <ul>
        <li>Xoay tròn quanh sản phẩm</li>
        <li>Dễ hình dung, tỉ mỉ</li>
      </ul>
  </div>
</div>


     


