div.container {
    width: 80%;
	margin-right: auto;
	margin-left: auto;	
}
header, footer {
    padding: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: left;
}

nav {
    float: right;
}
  
nav a {
    text-decoration: none;
	margin-left: 25px;
}

article {
    padding: 1em;
    overflow: hidden;
	width: 100%;
	margin-top: 20px;
	margin-left: 20px;
}

.product-item {
	width: 33%;
}

.center {
	text-align: center;
}
.left {
	text-align: left;
}

.clear {
	clear: both;
}