/* You can add global styles to this file, and also import other style files */
@font-color: black;
@background-color: white;
@opacity-hover: 0.8;

body {
    color: @font-color;
    background-color: @background-color;
    margin: auto;
    width: 90%;
}

.nav-link {
    color: @font-color;
}

.nav-link.active {
    color: #07bbd9
}

.nav-link:hover {
    opacity: @opacity-hover;
}