<div class="row">
    <div class="col-sm-6">
      <img src="../../assets/images/cost icons/product_photography_about_banner1.jpg" style="width: 100%;">
    </div>
    <div class="col-sm-6">
        <ul>
          <li>Thiết bị và dụng cụ chuyên nghiệp</li>
          <li>Lắng nghe và tư vấn thực hiện sản phẩm tốt</li>
        </ul>
        <br>
        <a href="/gioi-thieu" style="padding-left: 30px;">Portfolio - Hồ sơ của chúng tôi</a>
    </div>
  </div>
  <br/><br/><br/><br/>
  <p class="blue-text-color">Quy trình thực hiện</p>
  <div class="row">
      <div class="col-sm-6">       
        <br/>
        <ol style="padding-left: 12px;">
          <li>Chúng tôi sẽ gửi bản ước tính để bạn quyết định bắt đầu</li>
          <li>Sau khi nhận được sản phẩm, chúng tôi chụp</li>
          <li>Bạn xem trước hình ảnh đã thực hiện</li>
          <li>Khi hài lòng, bạn thanh toán và tải về</li>
        </ol>
      </div>
      <div class="col-sm-6">
          <br/>
          <ul>
            <li>Dễ dàng và nhanh chóng</li>
            <li>Lắng nghe và cung cấp gợi ý để hình ảnh của bạn trở nên tốt hơn</li>
            <li>Thời gian hoàn thành trong 7 ngày làm việc hoặc sớm hơn</li>
          </ul>
      </div>
    </div>
    <br/><br/><br/><br/>
    <p class="blue-text-color">Khách hàng đã hợp tác</p>
    <div class="row">
        <div class="col-sm-3">
            <br/>
            <ul style="padding-left: 12px;">
              <li>Lazada</li>
              <li>Amazon</li>
              <li>Alibaba</li>
              <li>Adayroi</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <br/>
            <ul style="padding-left: 12px;">
              <li>Lazada</li>
              <li>Amazon</li>
              <li>Alibaba</li>
              <li>Adayroi</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <br/>
            <ul style="padding-left: 12px;">
              <li>Lazada</li>
              <li>Amazon</li>
              <li>Alibaba</li>
              <li>Adayroi</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <br/>
            <ul style="padding-left: 12px;">
              <li>Lazada</li>
              <li>Amazon</li>
              <li>Alibaba</li>
              <li>Adayroi</li>
            </ul>
        </div>
      </div>